<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.mo.pmas.activity"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:theme="@style/CustomActionBarTheme">


        <activity android:name="EnterActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 读联系人权限 -->
        <uses-permission android:name="android.permission.READ_CONTACTS" />
        <!-- 写联系人权限 -->
        <uses-permission android:name="android.permission.WRITE_CONTACTS" />
        <!-- 拨号权限 -->
        <uses-permission android:name="android.permission.CALL_PHONE" />
        <!-- 读短信权限 -->
        <uses-permission android:name="android.permission.READ_SMS" />

    </application>
</manifest>
